<html>
<body>
  <h1>Welcome to Shout!</h1>
      <h2>Please login:</h2>
        <form action="/signup" method="post">
          <label for="name">Your Name: </label>
          <input id = "name" name="name" />
          <label for="handle">Your Username/Shout Handle: </label>
          <input id = "handle" name="handle" />
          <label for="password">Your Password: </label>
          <input id="password" name="password" />
          <input type="submit" />
        </form>
</body>
</html>
